In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
# path to project directory
path = Path('./')

In [4]:
# read in training dataset
train_df = pd.read_csv(path/'data/train_v3.csv', index_col=0, dtype={'season':str})

These are the features we get each week direct from fpl and transfermarkt

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90437 entries, 0 to 90436
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   player                               90437 non-null  object
 1   gw                                   90437 non-null  int64
 2   position                             90437 non-null  int64
 3   minutes                              90437 non-null  int64
 4   team                                 90437 non-null  object
 5   opponent_team                        90437 non-null  object
 6   relative_market_value_team           90437 non-null  float64
 7   relative_market_value_opponent_team  90437 non-null  float64
 8   was_home                             90437 non-null  bool
 9   total_points                         90437 non-null  int64
 10  assists                              90437 non-null  int64
 11  bonus                                90437 non-null  int64
 12  bps                                  90437 non-null  int64
 13  clean_sheets                         90437 non-null  int64
 14  creativity                           90437 non-null  float64
 15  goals_conceded                       90437 non-null  int64
 16  goals_scored                         90437 non-null  int64
 17  ict_index                            90437 non-null  float64
 18  influence                            90437 non-null  float64
 19  own_goals                            90437 non-null  int64
 20  penalties_missed                     90437 non-null  int64
 21  penalties_saved                      90437 non-null  int64
 22  red_cards                            90437 non-null  int64
 23  saves                                90437 non-null  int64
 24  selected                             90437 non-null  int64
 25  team_a_score                         90437 non-null  int64
 26  team_h_score                         90437 non-null  int64
 27  threat                               90437 non-null  float64
 28  transfers_balance                    90437 non-null  int64
 29  transfers_in                         90437 non-null  int64
 30  transfers_out                        90437 non-null  int64
 31  yellow_cards                         90437 non-null  int64
 32  kickoff_time                         90437 non-null  object
 33  season                               90437 non-null  object
 34  play_proba                           22357 non-null  float64
dtypes: bool(1), float64(7), int64(22), object(5)
memory usage: 24.2+ MB

In [102]:
unique_market_values = (train_df[train_df['season'] < '1920'][['season', 'team', 'relative_market_value_team']]
 .groupby(['season', 'team', 'relative_market_value_team'])).size().reset_index()

In [106]:
unique_market_values

    season                     team  relative_market_value_team     0
0     1617                  Arsenal                    0.384921     3
1     1617                  Arsenal                    0.452793     3
2     1617                  Arsenal                    1.944129  1217
3     1617              Bournemouth                    0.384921  1067
4     1617              Bournemouth                    0.428062    21
..     ...                      ...                         ...   ...
116   1819              Southampton                    0.654624  1171
117   1819        Tottenham Hotspur                    1.983109  1088
118   1819                  Watford                    0.412301  1157
119   1819          West Ham United                    0.749352  1210
120   1819  Wolverhampton Wanderers                    0.388177  1047

[121 rows x 4 columns]

In [112]:
actual_market_values = unique_market_values.loc[unique_market_values.
                                                groupby(['season', 'team'])[0]
                                                .idxmax()][['season', 'team', 'relative_market_value_team']]

In [119]:
actual_market_values

    season                      team  relative_market_value_team
2     1617                   Arsenal                    1.944129
3     1617               Bournemouth                    0.384921
6     1617                   Burnley                    0.304218
9     1617                   Chelsea                    2.243698
10    1617            Crystal Palace                    0.802197
15    1617                   Everton                    1.057509
17    1617                 Hull City                    0.494447
19    1617            Leicester City                    0.650832
23    1617                 Liverpool                    1.465860
26    1617           Manchester City                    2.311012
28    1617         Manchester United                    1.983179
29    1617             Middlesbrough                    0.452793
30    1617               Southampton                    0.796805
33    1617                Stoke City                    0.718705
34    1617                Sunderland                    0.418392
37    1617              Swansea City                    0.509881
41    1617         Tottenham Hotspur                    1.433690
44    1617                   Watford                    0.704200
46    1617      West Bromwich Albion                    0.428062
49    1617           West Ham United                    0.895471
54    1718                   Arsenal                    2.073500
57    1718               Bournemouth                    0.379765
58    1718  Brighton and Hove Albion                    0.349181
59    1718                   Burnley                    0.316798
61    1718                   Chelsea                    2.125018
62    1718            Crystal Palace                    0.635984
65    1718                   Everton                    1.134226
67    1718         Huddersfield Town                    0.210654
74    1718            Leicester City                    0.824624
78    1718                 Liverpool                    1.619155
80    1718           Manchester City                    2.016093
82    1718         Manchester United                    2.110135
83    1718          Newcastle United                    0.547176
84    1718               Southampton                    0.809578
87    1718                Stoke City                    0.581587
88    1718              Swansea City                    0.560457
93    1718         Tottenham Hotspur                    1.751141
94    1718                   Watford                    0.547242
95    1718      West Bromwich Albion                    0.541354
97    1718           West Ham United                    0.866330
98    1819                   Arsenal                    1.435552
99    1819               Bournemouth                    0.418108
100   1819  Brighton and Hove Albion                    0.417745
101   1819                   Burnley                    0.449442
102   1819              Cardiff City                    0.183890
103   1819                   Chelsea                    2.540586
105   1819            Crystal Palace                    0.634856
107   1819                   Everton                    1.039221
108   1819                    Fulham                    0.405284
109   1819         Huddersfield Town                    0.273778
110   1819            Leicester City                    0.796050
112   1819                 Liverpool                    2.177887
113   1819           Manchester City                    2.540586
114   1819         Manchester United                    2.015531
115   1819          Newcastle United                    0.483921
116   1819               Southampton                    0.654624
117   1819         Tottenham Hotspur                    1.983109
118   1819                   Watford                    0.412301
119   1819           West Ham United                    0.749352
120   1819   Wolverhampton Wanderers                    0.388177

In [129]:
train_df.merge(actual_market_values, on=['season', 'team'], how='left', suffixes = ('', '_season'))

,player,gw,position,minutes,team,opponent_team,relative_market_value_team,relative_market_value_opponent_team,was_home,total_points,...,team_h_score,threat,transfers_balance,transfers_in,transfers_out,yellow_cards,kickoff_time,season,play_proba,relative_market_value_team_season
0,Aaron_Cresswell,1,2,0,West Ham United,Chelsea,0.895471,2.243698,False,0,...,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617,NaN,0.895471
1,Aaron_Lennon,1,3,15,Everton,Tottenham Hotspur,1.057509,1.433690,True,1,...,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617,NaN,1.057509
2,Aaron_Ramsey,1,3,60,Arsenal,Liverpool,1.944129,1.465860,True,2,...,3,23.0,0,0,0,0,2016-08-14T15:00:00Z,1617,NaN,1.944129
3,Abdoulaye_DoucourÃ©,1,3,0,Watford,Southampton,0.704200,0.796805,False,0,...,1,0.0,0,0,0,0,2016-08-13T14:00:00Z,1617,NaN,0.704200
4,Abdul Rahman_Baba,1,2,0,Chelsea,West Ham United,2.243698,0.895471,True,0,...,2,0.0,0,0,0,0,2016-08-15T19:00:00Z,1617,NaN,2.243698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90432,Tommy_Doyle,38,3,0,Manchester City,Norwich,2.430397,0.327574,True,0,...,5,0.0,-2,22,24,0,2020-07-26T15:00:00Z,1920,1.0,NaN
90433,Joseph_Anang,38,1,0,West Ham United,Aston Villa,0.709989,0.553818,True,0,...,1,0.0,70,270,200,0,2020-07-26T15:00:00Z,1920,1.0,NaN
90434,Erik_Pieters,38,2,90,Burnley,Brighton and Hove Albion,0.370648,0.541184,True,3,...,1,2.0,139816,144388,4572,1,2020-07-26T15:00:00Z,1920,1.0,NaN
90435,Japhet_Tanganga,38,2,0,Tottenham Hotspur,Crystal Palace,1.604904,0.430493,False,0,...,1,0.0,7999,14840,6841,0,2020-07-26T15:00:00Z,1920,1.0,NaN
90436,Ravel_Morrison,38,3,0,Sheffield United,Southampton,0.348678,0.526987,False,0,...,3,0.0,-23,7,30,0,2020-07-26T15:00:00Z,1920,0.0,NaN

In [65]:
(train_df[['season', 'opponent_team', 'relative_market_value_opponent_team']]
 .groupby(['season', 'opponent_team', 'relative_market_value_opponent_team'])).size()

season  opponent_team            relative_market_value_opponent_team
1617    Arsenal                  1.944129                               1183
        Bournemouth              0.384921                               1185
        Burnley                  0.304218                               1192
        Chelsea                  2.243698                               1182
        Crystal Palace           0.802197                               1178
                                                                        ...
1920    Wolverhampton Wanderers  0.746215                                143
                                 0.748281                                 32
                                 0.750614                                 32
                                 0.750647                                 37
                                 0.811175                                 31
Length: 560, dtype: int64

In [55]:
train_df[(train_df['team'] == 'Manchester City') & (train_df['season'] == '1920') & (train_df['gw'] == 28)]

Empty DataFrame
Columns: [player, gw, position, minutes, team, opponent_team, relative_market_value_team, relative_market_value_opponent_team, was_home, total_points, assists, bonus, bps, clean_sheets, creativity, goals_conceded, goals_scored, ict_index, influence, own_goals, penalties_missed, penalties_saved, red_cards, saves, selected, team_a_score, team_h_score, threat, transfers_balance, transfers_in, transfers_out, yellow_cards, kickoff_time, season, play_proba]
Index: []

[0 rows x 35 columns]